asgiref==3.3.1
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.6
django-cors-headers==3.7.0
django-extensions==3.1.1
django-heroku==0.3.1
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
idna==2.10
imgurpython==1.1.7
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.16
psycopg2==2.8.6
Pygments==2.8.0
PyJWT==1.7.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
selenium==3.141.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.3
wcwidth==0.2.5
webdriver-manager==3.3.0
whitenoise==5.2.0
